# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
!**/configs/env

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# JetBrains
.idea/

# macOS
.DS_Store

# Project
data/*
!data/README.md

outputs/*
!outputs/README.md

wandb

src/operatorcow/GANO_ditribution_testing.ipynb
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-28-02-920404/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-28-02-920404/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-28-02-920404/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-29-15-836002/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-29-15-836002/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-29-15-836002/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-30-51-134431/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-30-51-134431/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-30-51-134431/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-34-29-475745/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-34-29-475745/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-34-29-475745/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-37-35-234760/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-37-35-234760/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-37-35-234760/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-40-16-533905/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-40-16-533905/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-40-16-533905/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-41-34-293533/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-41-34-293533/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-41-34-293533/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-43-09-242988/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-43-09-242988/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-43-09-242988/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-47-27-689323/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-47-27-689323/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_16-47-27-689323/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-04-04-325886/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-04-04-325886/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-04-04-325886/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-12-26-407146/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-12-26-407146/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-12-26-407146/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-16-05-603590/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-16-05-603590/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-21_17-16-05-603590/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-55-36-126767/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-55-36-126767/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-55-36-126767/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-56-16-700427/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-56-16-700427/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-56-16-700427/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-57-28-302481/.hydra/config.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-57-28-302481/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Create_GNOT_plots/dev/2024-10-22_15-57-28-302481/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-19-47-845573/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-19-47-845573/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-19-47-845573/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-25-38-277422/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-25-38-277422/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_17-25-38-277422/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_21-57-59-809850/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_21-57-59-809850/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-21_21-57-59-809850/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-22_16-00-04-552151/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-22_16-00-04-552151/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-10-22_16-00-04-552151/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-08-48-017570/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-08-48-017570/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-08-48-017570/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-50-34-333403/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-50-34-333403/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_10-50-34-333403/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_11-15-48-857104/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_11-15-48-857104/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_11-15-48-857104/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_14-43-02-965318/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_14-43-02-965318/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_14-43-02-965318/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-03-47-377193/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-03-47-377193/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-03-47-377193/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-50-05-429811/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-50-05-429811/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-02_15-50-05-429811/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_18-36-32-799673/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_18-36-32-799673/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_18-36-32-799673/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-03-49-893761/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-03-49-893761/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-03-49-893761/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-17-49-638401/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-17-49-638401/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-20_22-17-49-638401/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-48-47-875682/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-48-47-875682/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-48-47-875682/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-50-39-622069/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-50-39-622069/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-50-39-622069/.hydra/overrides.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-52-55-029640/.hydra/config.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-52-55-029640/.hydra/hydra.yaml
src/operatorcow/outputs/dev/VANO_experiment/dev/2024-10-21_13-52-55-029640/.hydra/overrides.yaml
src/operatorcow/outputs/dev/run_experiment/dev/2024-10-17_12-44-54-914654/.hydra/config.yaml
src/operatorcow/outputs/dev/run_experiment/dev/2024-10-17_12-44-54-914654/.hydra/hydra.yaml
src/operatorcow/outputs/dev/run_experiment/dev/2024-10-17_12-44-54-914654/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-15-42-961430/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-15-42-961430/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-15-42-961430/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-18-10-910515/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-18-10-910515/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_20-18-10-910515/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_21-04-05-943559/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_21-04-05-943559/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_21-04-05-943559/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_22-19-39-993069/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_22-19-39-993069/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-06_22-19-39-993069/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-32-24-347542/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-32-24-347542/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-32-24-347542/.hydra/overrides.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-06_22-54-13-323282/.hydra/config.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-06_22-54-13-323282/.hydra/hydra.yaml
src/operatorcow/outputs/dev/Multi_inverse/dev/2024-11-06_22-54-13-323282/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-58-19-031619/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-58-19-031619/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_08-58-19-031619/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-00-18-291184/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-00-18-291184/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-00-18-291184/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-03-33-488989/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-03-33-488989/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-03-33-488989/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-05-18-048840/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-05-18-048840/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-05-18-048840/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-06-22-143951/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-06-22-143951/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-06-22-143951/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-22-752886/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-22-752886/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-22-752886/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-49-900610/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-49-900610/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-07-49-900610/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-08-14-006677/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-08-14-006677/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-08-14-006677/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-09-37-391275/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-09-37-391275/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-09-37-391275/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-14-40-864920/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-14-40-864920/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-14-40-864920/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-15-26-944720/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-15-26-944720/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-15-26-944720/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-17-17-762928/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-17-17-762928/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_09-17-17-762928/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_11-19-26-078364/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_11-19-26-078364/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_11-19-26-078364/.hydra/overrides.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_13-49-54-796653/.hydra/config.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_13-49-54-796653/.hydra/hydra.yaml
src/operatorcow/outputs/dev/CVS_FULL/dev/2024-11-07_13-49-54-796653/.hydra/overrides.yaml
